{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <!-- Section Gauche: Lien vers Signup -->
        <div class="col-md-6">
            <p>Pas encore de compte ?</p>
            <a href="{% url 'register' %}" class="btn btn-info">S'inscrire</a>
        </div>

        <!-- Section Droite: Formulaire de Connexion -->
        <div class="col-md-6">
            <h2 class="d-flex justify-content-center">Connexion</h2>
            <form method="post">
                {% csrf_token %}
                <!-- Email -->
                <div class="form-group">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>

                <!-- Mot de passe -->
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <!-- Bouton de Connexion -->
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
