{% extends 'base.html' %}

{% block title %}Répondre à un Ticket{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Répondre à un Ticket</h2>
    <div class=" bg-light bg-gradient border border-light rounded-2 shadow-sm p-5 m-2 clearfix">
        <div class="card-body">
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}"
                     alt="{{ ticket.title }}"
                     class="img-thumbnail img-fluid rounded float-end"
                     style="max-height : 250px; width : auto;">
            {% endif %}
            <h5 class="card-title mb-4">{{ ticket.title }}</h5>
            <p class="card-text">{{ ticket.description }}</p>
        </div>
    </div>
    <div class="bg-light bg-gradient border border-light rounded-2 shadow-sm p-5 m-2">
        <form method="post">
            {% csrf_token %}
            <div>
                <h3>Détails de la Critique</h3>
                <!-- Affichage champs du formulaire de review -->
                <div>
                    <label>Titre de la critique :</label>
                    <div>
                        {{review_form.headline}}
                    </div>
                </div>
                <div>
                    <label>Corps de la critique :</label>
                    <div>
                        {{review_form.body}}
                    </div>
                </div>
                <!-- Étoiles pour la notation -->
                <div>
                    <label for="ratingInput">Votre note :</label>
                    <div class="rating">
                        {% for star in "12345" %}
                            <i class="bi bi-star" data-rating="{{ forloop.counter }}"></i>
                        {% endfor %}
                    </div>
                    <input type="hidden" id="ratingInput" name="rating">
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Soumettre la Critique</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}