{% extends 'base.html' %}

{% block title %}Modifier une Critique{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Modifier une Critique</h1>
    <section class="bg-light bg-gradient border border-light rounded-2 shadow-sm p-5 m-2" aria-labelledby="reviewDetailsHeading">
        <form method="post">
            {% csrf_token %}
            <h2 class="mb-3" id="reviewDetailsHeading">Détails de la Critique</h2>
            <div class="form-group mb-3">
                <label for="headlineField">Titre de la critique :</label>
                <input type="text" id="headlineField" class="form-control" name="headline" value="{{ form.headline.value|default_if_none:'' }}">
            </div>
            <div class="form-group mb-3">
                <label for="bodyField">Corps de la critique :</label>
                <textarea id="bodyField" class="form-control" name="body">{{ form.body.value|default_if_none:'' }}</textarea>
            </div>
            <div class="form-group mb-3">
                <label for="ratingInput">Votre note :</label>
                <div class="rating" aria-label="Notez cet article">
                    {% for star in "12345" %}
                        <i class="bi bi-star" data-rating="{{ forloop.counter }}" tabindex="0" role="button" aria-label="Étoile {{ forloop.counter }}"></i>
                    {% endfor %}
                </div>
                <input type="hidden" id="ratingInput" name="rating">
            </div>
            <button type="submit" class="btn btn-primary mt-2">Mettre à jour la Critique</button>
        </form>
    </section>
</div>
{% endblock %}
